#include "resource.h"
#include "winres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_OPEN_SUBSONIC_PREFERENCES DIALOGEX 0, 0, 276, 186
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "OpenSubsonic / Navidrome server settings",IDC_STATIC,7,7,180,8
    LTEXT           "Server URL:",IDC_STATIC,7,24,52,8
    EDITTEXT        IDC_OS_SERVER_URL,72,22,197,14,ES_AUTOHSCROLL
    LTEXT           "Username:",IDC_STATIC,7,44,52,8
    EDITTEXT        IDC_OS_USERNAME,72,42,90,14,ES_AUTOHSCROLL
    LTEXT           "Password:",IDC_STATIC,7,64,52,8
    EDITTEXT        IDC_OS_PASSWORD,72,62,90,14,ES_AUTOHSCROLL | ES_PASSWORD
    LTEXT           "Client name:",IDC_STATIC,7,84,52,8
    EDITTEXT        IDC_OS_CLIENT_NAME,72,82,197,14,ES_AUTOHSCROLL
    CONTROL         "Allow insecure TLS",IDC_OS_ALLOW_INSECURE_TLS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,72,104,98,10
    PUSHBUTTON      "Sync Now",IDC_OS_SYNC_NOW,72,123,62,14
    PUSHBUTTON      "Cache Artwork",IDC_OS_CACHE_ARTWORK,139,123,62,14
    PUSHBUTTON      "Clear Artwork Cache",IDC_OS_CLEAR_ARTWORK_CACHE,72,141,94,14
    PUSHBUTTON      "Clear All Cache",IDC_OS_CLEAR_CACHE,171,141,97,14
    LTEXT           "foo_opensubsonic v0.1",IDC_OS_VERSION_TEXT,7,168,262,8
    CONTROL         "https://github.com/michioxd/foo_opensubsonic",IDC_OS_GITHUB_LINK,"Static",SS_NOTIFY,7,177,262,8
END
