#include "resource.h"
#include "winres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_OPEN_SUBSONIC_PREFERENCES DIALOGEX 0, 0, 372, 233
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "OpenSubsonic / Navidrome settings",IDC_STATIC,7,7,210,8
    LTEXT           "Servers:",IDC_STATIC,7,23,42,8
    LISTBOX         IDC_OS_SERVER_LIST,7,34,104,140,LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP | LBS_NOINTEGRALHEIGHT
    PUSHBUTTON      "Add",IDC_OS_SERVER_ADD,7,179,49,14
    PUSHBUTTON      "Delete",IDC_OS_SERVER_DELETE,62,179,49,14
    LTEXT           "Server name:",IDC_STATIC,122,23,57,8
    EDITTEXT        IDC_OS_SERVER_NAME,168,21,150,14,ES_AUTOHSCROLL
    LTEXT           "Main URL:",IDC_STATIC,122,43,57,8
    EDITTEXT        IDC_OS_SERVER_URL,168,41,150,14,ES_AUTOHSCROLL
    LTEXT           "Local URL:",IDC_STATIC,122,63,57,8
    EDITTEXT        IDC_OS_LOCAL_SERVER_URL,168,61,150,14,ES_AUTOHSCROLL
    LTEXT           "Username:",IDC_STATIC,122,83,57,8
    EDITTEXT        IDC_OS_USERNAME,168,81,150,14,ES_AUTOHSCROLL
    LTEXT           "Password:",IDC_STATIC,122,103,57,8
    EDITTEXT        IDC_OS_PASSWORD,168,101,150,14,ES_AUTOHSCROLL | ES_PASSWORD
    LTEXT           "Client name:",IDC_STATIC,122,123,57,8
    EDITTEXT        IDC_OS_CLIENT_NAME,168,121,150,14,ES_AUTOHSCROLL
    CONTROL         "Allow insecure TLS",IDC_OS_ALLOW_INSECURE_TLS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,168,142,110,10
    PUSHBUTTON      "Sync Selected Server",IDC_OS_SYNC_NOW,122,160,100,14
    PUSHBUTTON      "Cache Artwork",IDC_OS_CACHE_ARTWORK,228,160,67,14
    PUSHBUTTON      "Clear Artwork Cache",IDC_OS_CLEAR_ARTWORK_CACHE,122,178,100,14
    PUSHBUTTON      "Clear All Cache",IDC_OS_CLEAR_CACHE,228,178,67,14
    LTEXT           "foo_opensubsonic v0.1",IDC_OS_VERSION_TEXT,7,215,358,8
    CONTROL         "https://github.com/michioxd/foo_opensubsonic",IDC_OS_GITHUB_LINK,"Static",SS_NOTIFY,7,224,358,8
END
